@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Unica+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root{
    --darkpink: #B9004E;
    --mediumpink: #FFC7C5;
    --lightpink:#F5DAD9;
    --footerpurple: #3B3082;
    --darkpurple:#4F42A7;
    --purplebtn:#8077af;
    --lightpurple: #998FD0;
    --brown:#1E1E1E;
    --lightgrey:#B3B3B3;
    --whitepurple: #f9f1ff;
    --vanila:#F2F0EB;
    --white:#fff;
}

